[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

blinker = "*"
pymongo = "*"


[dev-packages]

pytest = "*"
"e1839a8" = {editable = true, path = "."}
pylama = "*"


[requires]

python_version = "3.6"
